*{
	background-color: black;
	border-style: solid;
	border-color: red;
}

.Eco{
	border-style: outset;
	color: white;
}

.Eco:hover{
	border-style: inset;
	background-color: white;
	border-color: orange;
	transition: 2s;
}

#Pic img{
	border-style: solid;
	border-color: red;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}